@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap");

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
}
/* Section One */

.sectionOne {
  background-color: #1f2937;
  padding: 10px 100px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

h1,
.sectionOne p {
  color: #f9faf8;
}

h1 {
  font-size: 24px;
}

.sectionOne p {
  font-size: 18px;
  line-height: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

ul {
  display: flex;
  list-style: none;
  gap: 15px;
}

a {
  text-decoration: none;
  font-size: 18px;
  color: #e5e7eb;
}

.sectionOne h2 {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}

.sectionOne img {
  width: 400px;
  height: auto;
  border-radius: 20px;
  flex-shrink: 0;
}

.sectionOneContent {
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  gap: 20px;
}

.sectionOneText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sectionOne button {
  background-color: #3882f6;
  color: #f9faf8;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}
/* Section Two */

.sectionTwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.sectionTwo h2 {
  font-size: 36px;
}

.testimonials {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  gap: 30px;
}

.test img {
  width: 200px;
  border: 2px solid #3882f6;
  border-radius: 10px;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
}

/* Section Three */

/* Section Four */

/* Footer */

.footer {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
}
